html, body{
  font-size: 1.3rem;
  overflow-x: hidden;
}

/* 위젯 */
.widget{
  display: none;
}
.m_widget{
  display: block;
  position: fixed;
  bottom: 50px;
  right: 20px;
  z-index: 150;
}
.m_widget a{
  width: 60px;
  transform: translateX(0);
  display: block;
  margin-bottom: 5px;
}
.m_widget a img{
  width: 100%;
}

/* 헤더 */
header{
  height: 100px;
}

/* 헤더 좌측 메뉴바 */
  header nav{
    display: none;
  }

  /* 헤더 우측 로그인 및 햄버거메뉴바 */
  .lnb ul{
    display: none;
  }

  /* 햄버거메뉴클릭시 나오는 메뉴 */
  .m_nav .depth02{
    width: 90%;
  }
  .depth02 li{
    font: 200 1rem/3rem var(--mainFont);
    text-align: center;
  }
  .not span{
    font: 200 1rem/3rem var(--mainFont);
  }
  .not p{
    font: 200 1rem/1.5rem var(--mainFont);
  }

  /* 메인작업 */
  main .slide{
    display: none;
  }

  /* 타블릿용 슬라이드 */
  main .m_slide{
    display: block;
  }
  
  .m_slide .swiper-slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom: 1px solid #000;
  }
  .m_slide .swiper-pagination span{
    width: 25px;
    height: 2px;
    border-radius: 0;
    background-color: var(--basicColor);
  }
  .m_slide .swiper-pagination span{
    width: 25px;
    height: 2px;
    border-radius: 0;
    background-color: var(--basicColor);
  }
  
  /* 섹션 웰메이트 프로그램 */
  main section h1{
    font: 500 1.1rem var(--mainFont);
  }
  section p{
    font: 300 .9rem/2rem var(--mainFont);
  }
  .program .swiper-slide a h2{
    margin-top: 10px;
    font: 400 .9rem var(--mainFont);
  }
  
  /* 글자슬라이드 */
  .alterslide p{
    font: 400 .9rem/3rem var(--mainFont);  
  }
  
    
  /* 푸터 */
  footer{
    margin-top: 100px;
    width: 100%;
  }
  
  .waves {
    height: 5vh;
    margin-bottom: -20px; /*Fix for safari gap*/
  }

  /* 푸터 */
  .foot .logo{
    width: 130px;
    padding-top: 30px;
    box-sizing: border-box;
  }

  .cont .wrap{
    width: 100%;
  }
  .foot .cont{
    font: 300 .6rem/1.2rem var(--mainFont);
  }
  .cont .wrap .small{
    font-size: .5rem;
  }
  .cont .copy{
    margin-top: 0px;
  }
  
  