html, body{
  font-size: 1vw;
  overflow-x: hidden;
}

/* 메인페이지 */
/* 메인작업 */
main{
  width: 100%;
  margin: auto;
  margin-top: 100px;
}
main .slide{
  width: 100%;
}
main .slide .swiper-slide img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-bottom: 1px solid #000;
}
main .slide .swiper-pagination span{
  width: 25px;
  height: 2px;
  border-radius: 0;
  background-color: var(--basicColor);
}
main .slide .swiper-pagination span{
  width: 25px;
  height: 2px;
  border-radius: 0;
  background-color: var(--basicColor);
}
/* 타블릿용 슬라이드 */
main .m_slide{
  display: none;
}

/* 섹션 웰메이트 프로그램 */
main section{
  width: 100%;
}
main section h2{
  margin-top: 120px;
  text-align: center;
  font: 500 1.5rem var(--mainFont);
}
section p{
  text-align: center;
  margin-bottom: 80px;
  font: 300 1.1rem/2.5rem var(--mainFont);
  word-spacing:10px;
}
section .program{
  max-width: 1400px;
  margin: auto;
}
.program .swiper-wrapper{
  width: 100%;
  display: flex;
}
.program .swiper-slide{
  width: calc((100% - 30px) / 4);
}
.program .swiper-slide a{
  width: 100%;
  display: block;
}
.program .swiper-slide a h3{
  margin-top: 10px;
  font: 400 1.1rem var(--mainFont);
}
.program .swiper-slide a img{
  width: 100%;
  object-fit: cover;
  border: 1px solid var(--basicColor);
  box-sizing: border-box;
}
.program .swiper-button-prev,
.program .swiper-button-next{
  width: 40px;
  height: 40px;
  border: 2px solid #fff;
  border-radius: 50%;
  color: #fff;
  opacity: .5;
}
.program .swiper-button-prev::after,
.program .swiper-button-next::after{
  font-size: 25px;
}
.program .swiper-button-prev:hover,
.program .swiper-button-next:hover{
  opacity: 1;
  transition: all .3s;
}

/* 글자슬라이드 */
main .alterwrap{
  width: 100%;
  border-top: 1px solid var(--basicColor);
  border-bottom: 1px solid var(--basicColor);
  margin-top: 150px;
}
.alterwrap .alterslide{
  width: 100%;
  display: flex;
  animation:  alterslide 13s infinite linear;
}
.alterslide p{
  white-space: nowrap;
  font: 400 1.1rem/3rem var(--mainFont);  
}
@keyframes alterslide {
  0%{margin-left:1%;}
  100%{margin-left: -80%;}
}

/* 인스타슬라이드 */
section .instslide{
  max-width: 1400px;
  margin: auto;
}
.instslide .swiper-wrapper{
  width: 100%;
  display: flex;
}
.instslide .swiper-slide{
  width: calc((100% - 20px) / 3);
}
.instslide .swiper-slide img{
  width: 100%;
  object-fit: cover;
  border: 1px solid var(--basicColor);
  box-sizing: border-box;
}
.instslide .swiper-button-prev,
.instslide .swiper-button-next{
  width: 40px;
  height: 40px;
  border: 2px solid #fff;
  border-radius: 50%;
  color: #fff;
  opacity: .5;
}
.instslide .swiper-button-prev::after,
.instslide .swiper-button-next::after{
  font-size: 25px;
}
.instslide .swiper-button-prev:hover,
.instslide .swiper-button-next:hover{
  opacity: 1;
  transition: all .3s;
}

/* 메인 스크롤  */
@keyframes fade1{
  0%{transform: translateY(200px);
  }
  100%{transform: translateY(0);
  }
}
@keyframes fade2{
  0%{transform: translateY(0);
  }
  100%{transform: translateY(200px);
  }
}



/* 서브페이지 */
main .section{
  width: 100%;
  display: flex;
}
main .m_sect{
  display: none;
}
main .section:not(first-child){
  margin-top: 100px;
  border-top: 1px solid var(--basicColor);
}
.section .images{
    width: 50%;
}
.images img{
  width: 100%;
}
.section .txtwrap{
  width: 50%;
  margin-top: 180px;
  margin-left: 100px;
}
.txtwrap h1{
  font: 500 2rem var(--mainFont);
  margin-bottom: 30px;
}
.txtwrap p{
  width: 70%;
  font: 300 1.5rem/2.3rem var(--mainFont);
}
.section:nth-of-type(3) .txtwrap{
  width: 50%;
  margin-top: 100px;
  margin-left: 100px;
}
.txtwrap .imgwrap{
  width:80%;
  display: flex;
  margin-top: 40px;
}
.imgwrap .item{
  width: 33.3%;
  position: relative;
}
.item h3{
  font: 400 1.7rem/2.3rem var(--mainFont);
  text-align: center;
}
.item .color{
  width: 40%;
  height: 6px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
}
.item:nth-of-type(1) .color{
  background-color: var(--item1);
}
.item:nth-of-type(2) .color{
  background-color: var(--item2);
}
.item:nth-of-type(3) .color{
  background-color: var(--item3);
}
.item p:nth-of-type(2){
  width: 80%;
  margin: auto;
  text-align: center;
  font: 300 1.3rem/2rem var(--mainFont);
  margin-top: 30px;
}